/* line 1, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
body { background-color: #227daa; margin-left: 50px; }

/* line 4, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
.main-section { background-color: linear-gradient(to bottom, #227daa 0%, #51accd 100%); }

/* line 7, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
h2 { margin-bottom: 60px; font-family: Arial; text-transform: uppercase; color: #deeef5; font-weight: 100%; font-size: 22px; margin: 0; margin-bottom: 5px; -webkit-margin-before: 0.83em; -webkit-margin-after: 0.83em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; font-weight: bold; }

/* line 24, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
h1 { color: white; font-family: Arial; text-transform: uppercase; }

/* line 28, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
p { color: white; margin: auto; }

/* line 31, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
em { font-size: 16px; color: #aac7d9; }

/* line 34, /home/luz/clients/middleman_apps/somaliland/source/assets/stylesheets/app.sass */
strong { color: white; }
