/* line 1, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
body { background-color: #227daa; }

/* line 3, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
h2 { color: #deeef5; text-transform: uppercase; }

/* line 6, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
em { color: #aac7d9; }

/* line 8, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
h1 { color: white; text-transform: uppercase; }

/* line 11, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
p { color: white; }

/* line 13, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
strong { color: white; }
