/* line 1, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
body { background-color: #227daa; }

/* line 3, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
h2 { color: #deeef5; text-transform: uppercase; }

/* line 6, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
em { color: #aac7d9; }

/* line 8, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
h1 { color: white; text-transform: uppercase; }

/* line 11, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
p { color: white; }

/* line 13, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
strong { color: white; }

/* line 15, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
nav { color: #aac7d9; cursor: pointer; }

/* line 18, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
.sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111111; color: white; overflow-x: hidden; transition: 0.5s; padding-top: 60px; }

/* line 30, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
.sidenav a { color: #818181; text-decoration: none; display: block; text-align: center; }

/* line 35, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
.sidenav a:hover { color: #f1f1f1; }

/* line 37, /home/luz/clients/middleman_apps/website/source/assets/stylesheets/index.sass */
.sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; }
